.name {
  animation: slide 3s linear;
  /* padding-top: 50px;  maybe add some padding to the title and top of page?*/
}

@keyframes slide {
    from {
        /* pushes the sun down past the viewport */
        transform: translateX(100vh);
      }
      to {
        /* returns the sun to its default position */
        transform: translateX(0);
      }
}

.links {
  position: absolute;
  left: auto; /* Start offscreen */
  animation: slideIn 4s ease-out forwards; /* Animation on page load */ 
}

.links li {
  padding-bottom: 5px;
}

@keyframes slideIn {
  from {
      /* pushes the sun down past the viewport */
      transform: translateX(-100%);
    }
    to {
      /* returns the sun to its default position */
      transform: translateX(0);
    }
}

.about {
  position: relative;
  margin-top: 100px;
  left: auto; /* Start offscreen */
  animation: slideIn 4s ease-out forwards; /* Animation on page load */
}

.image {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about p {
  text-align: center;
}

.mail {
  display: flex;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 8s forwards; /* Adjust the duration as needed */
  padding-bottom: 15px;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

.about-body {
  text-align: center;
}

.about-aboutme img {
  width: 150px;
  height: 150px;
}

.software-body {
  text-align: center;
}

.webdev-body {
  text-align: center;
}

.tech-body {
  text-align: center;
}

.cyber-body {
  text-align: center;
}

.homelink {
  padding-bottom: 20px;
}

.purple {
  color: purple;
}
/*new changes below not apart of first deploy 9-30-24*/
.vet-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f1f1f1; /* Optional: Add a background color */
  padding: 10px 0; /* Optional: Add some padding */
}